.myself {
  max-width:70vw;
}

p.about.name {
  width: 70vw;
  font-size: 14px;
  text-align:center;
  margin:0;
}

div.css-1jwldo8 {
  display:flex;
  justify-content: center;
  align-items: center;
}


@media (min-width: 760px) {
  .myself {
    max-width:50vw;
  }
  p.about.name {
    width: 70vw;
    font-size: 20px;
  }
}

@media (min-width:1024px) {
  .myself {
    max-width:30vw;
  }
  p.about.name {
    width: 50vw;
    font-size: 30px;
  }
}